body {
  font-family: arial, sans-serif;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  margin-bottom: 0px;
  line-height: 28px;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

li {
  display: block;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
}

strong {
  font-size: 30px;
  text-align: center;
}
