body {
  font-family: "Montserrat", sans-serif;
  background-image: url(https://media4.giphy.com/media/ToMjGpAWqvtLXLemUzm/giphy.gif?cid=ecf05e477e1y0ryhptlsqqqq7y2lwfh09sy1w4httugdb83z&rid=giphy.gif&ct=g);
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  position: relative;
  top: 100px;
}

.weather-app {
  padding: 50px;
  border: 1px solid rgb(4, 78, 116) 107.5%;
  border-radius: 5px;
  background: linear-gradient(
    111.5deg,
    rgb(187, 232, 255) 11.1%,
    rgb(4, 78, 116) 107.5%
  );

  margin: 0 auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.area {
  color: black;
  text-align: center;
  display: inline-block;
  padding: 0px;
  position: fixed;
  font-size: 30px;
  line-height: 20px;
}

.updated {
  font-size: 15px;
}

h1 {
  margin-bottom: 0px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

li {
  display: block;
  text-align: left;
  line-height: 15px;
  font-size: 15px;
  font-weight: 100px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -20px;
  vertical-align: baseline;
  color: #93deff;
}

.today {
  font-size: 25px;
}

small {
  color: white;
}

.btn-primary {
  background: rgb(187, 232, 255) 11.1%;
  color: black;
  border-color: #a7d7f0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background: rgb(4, 78, 116) 107.5%;
  border-color: #175e83;
}

.form-control {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-location {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background: #93deff;
}

a {
  color: #93deff;
  text-decoration: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  color: black;
  font-weight: bold;
  text-align: center;
}

.weather-forecast {
  display: inline;
  text-align: center;
  padding: 0px;
}

.weather-forecast .col-2 {
  border: 1px solid #93deff;
  border-radius: 10px;
  word-spacing: 10px;
  background-color: white;
  margin: 1%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.weather-forecast .col-2:hover {
  padding: 5px;
  transition: all 200ms ease-in-out;
}

.weather-forecast-temperature-max {
  font-weight: bold;
}
